body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.app-container{
  .header-container{
    .bg-body-tertiary{
      background-color: #4A7BFA !important;
      height: 70px;
    }
    .navbar-collapse{
      .nav-link{
        color:black;
        &.active{
          color: white;
        }
      }
    }
  }
}
  